<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">conduit</a>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a class="nav-link" [class.active]="currentRoute===''" [routerLink]="['/']">Home</a>
      </li>
      @if(usersService.currentUser()){
        <li class="nav-item">
          <a class="nav-link" [class.active]="currentRoute==='editor'" [routerLink]="['/editor']"> <i class="ion-compose"></i>&nbsp;New Article </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="currentRoute==='settings'" [routerLink]="['/settings']"> <i class="ion-gear-a"></i>&nbsp;Settings </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <img [src]="usersService.currentUser()?.image" alt="profile picture" class="user-pic" />
            {{usersService.currentUser()?.username}}
          </a>
        </li>
      }@else{
        <li class="nav-item">
          <a class="nav-link" [class.active]="currentRoute==='login'" [routerLink]="['/login']">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="currentRoute==='register'" [routerLink]="['/register']">Sign up</a>
        </li>
      }
    </ul>


  </div>
</nav>
