<div class="article-page">
  @if(loadingArticle){
    Loading article...
  } @else if (article){
    <div class="banner">
      <div class="container">
        <h1>{{article.title}}</h1>

        <div class="article-meta">
          <conduit-meta-data-snippet [author]="article.author" [publicationDate]="article.publishedDate"></conduit-meta-data-snippet>
          <conduit-follow-user [(profile)]="article.author"></conduit-follow-user>
          <conduit-favorite-article [article]="article" [onArticle]="true"></conduit-favorite-article>
          @if(article.author.ownUser){
            <conduit-edit-article (edit)="router.navigate(['editor', article.slug])"></conduit-edit-article>
            <conduit-delete-article (delete)="deleteArticle()" ></conduit-delete-article>
          }
        </div>
      </div>
    </div>

    <div class="container page">
      <div class="row article-content">
        <div class="col-md-12">
          <p>
            {{article.body}}
          </p>

          <conduit-tags [tags]="article.tags"></conduit-tags>
        </div>
      </div>

      <hr />

      <div class="article-actions">
        <div class="article-meta">
          <conduit-meta-data-snippet [author]="article.author" [publicationDate]="article.publishedDate"></conduit-meta-data-snippet>
          <conduit-follow-user [(profile)]="article.author"></conduit-follow-user>
          <conduit-favorite-article [article]="article" [onArticle]="true"></conduit-favorite-article>
          @if(article.author.ownUser){
            <conduit-edit-article (edit)="router.navigate(['editor', article.slug])"></conduit-edit-article>
            <conduit-delete-article (delete)="deleteArticle()"></conduit-delete-article>
          }
        </div>
      </div>
    </div>
  }
</div>
