@if(article){
  <div class="article-preview">
    <div class="article-meta">
      <conduit-meta-data-snippet [author]="article.author" [publicationDate]="article.publishedDate"></conduit-meta-data-snippet>
      <button class="btn btn-outline-primary btn-sm pull-xs-right">
        <i class="ion-heart"></i> 29
      </button>
    </div>
    <a [routerLink]="['/article', article.slug]" class="preview-link">
      <h1>{{article.title}}</h1>
      <p>{{article.excerpt}}</p>
      <span>Read more...</span>
      <ul class="tag-list">
        <li class="tag-default tag-pill tag-outline">realworld</li>
        <li class="tag-default tag-pill tag-outline">implementations</li>
      </ul>
    </a>
  </div>
}
