<div class="home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        @if (loadingArticles){
          Loading articles...
        } @else {
          <conduit-article-list [articles]="articlesResponse.articles"></conduit-article-list>
          <conduit-pagination [currentPage]="getCurrentPage()" [totalPages]="getTotalPages()" (pageSelected)="switchPage($event)"></conduit-pagination>
        }
      </div>

      <div class="col-md-3">

      </div>
    </div>
  </div>
</div>
